@import "../../../node_modules/font-awesome/css/font-awesome.css";

.lineChart {
  display: flex;
  height: 100% - 8;
  width: 800px;
  color: gray;
  margin: 1rem;
 
  &__content{
    padding: 1rem;;
  }
}

